<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}
	<body>
		{{ partial "header.html" . }}
		<div class="main">
			<div class="introContainer">
				<!-- Size 64x64 -->
				<img class="avatar" src="https://i.ibb.co/Qd3hFW2/ezgif-com-gif-maker.jpg" alt="pic">

				<div class="resume">
					<p><a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Example">Lorem ipsum</a><br>
					Lorem ipsum dolor sit amet.<br>
					consectetur adipiscing Cras dignissim tortor ornare</p>
				</div>
			</div>

			<div>
				<h2>Latest blog posts</h2>
				{{ partial "lastPost.html" . }}
				{{ partial "blogList.html" . }}
			</div>

			<div>
				<h2>Online presence</h2>
				<ul>
					<li>Email: <a href="mailto:jgll6dij6@mozmail.com">jgll6dij6@mozmail.com</a></li>
					<li>Code repositories: <a target="_blank" rel="noopener noreferrer" href="https://github.com/Speyll">speyll@github.com</a></li>
					<li><span class="metaData">@Speyll</span> anywhere else.</li>
				</ul>
			</div>
		</div>
		{{ partial "footer.html" . }}
	</body>
</html>
