{% extends "base.html" %}

{% block content %}
    {{ section.content | safe }}

    {% if config.extra.list_pages %}
    <ul class="posts">
        {% for page in section.pages %}
        <li>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
            <span class="date">{{ page.date | date(format="%Y-%m-%d") }}</span>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if paginator %}
        {% include "partials/pagination.html" %}
    {% endif %}
{% endblock %}
